{% if error %}
  {{ error }}
  <script>
    if ($('.modal').is('#modal-iaction')) {
      $('#condition-modal-button-add_inner').hide();
      $('#condition-modal-action-add_inner').hide();
    } else {
      $('#modal-button-add').hide();
      $('#modal-action-add').hide();
    }
  </script>
{% else %}
  <hr>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-autopress_button_name">
      <span data-toggle="tooltip" title="{{ help_autopress_button }}">{{ entry_autopress_button }}</span>
    </label>
    <div class="col-sm-9">
      <input type="text" name="autopress_button_name" id="input-autopress_button_name" value="{{ autopress_button_name }}" placeholder="{{ entry_autopress_button }}" class="form-control">
      <input type="hidden" name="action[autopress_button_uid]" value="{{ action.autopress_button_uid }}">
    </div>

  </div>

  <script type="text/javascript">
    $('input[name=\'autopress_button_name\']').autocomplete({
      'source': function (request, response) {
        if (request === '{{ text_currentdoc }}') 
          request = '';
        


        var regexp = new RegExp('{{ text_by_link_in_field }}');
        request = request.replace(regexp, '').trim().replace(/\"/g, '');
        $.ajax({
          url: 'index.php?route=doctype/doctype/autocomplete_button&filter_name=' + encodeURIComponent(request) + '&doctype_uid={{ doctype_uid }}' + '&route_uid={{ route_uid }}',
          dataType: 'json',
          cache: false,
          success: function (json) {
            json.unshift({button_uid: 0, name: '{{ text_none }}'});
            response($.map(json, function (item) {
              var result = {
                value: item['button_uid'],
                label: item['name']
              };
              return result;
            }));
          } // end success
        }); // end ajax
      }, // end source
      'select': function (item) {
        if (item['value']) {
          $('input[name=\'autopress_button_name\']').val(item['label']);
          $('input[name=\'action[autopress_button_uid]\']').val(item['value']);
        } else {
          $('input[name=\'autopress_button_name\']').val("");
          $('input[name=\'action[autopress_button_uid]\']').val("");
        }
      }
    });
  </script>
{% endif %}
