{{ header }}
<div class="container" id="error-not-found">
  <div class="row">
    <div class="col-sm-12" id="content">{{ content_top }}
      <h1>{{ text_system }}</h1>
      <p>{{ message }}</p>
    </div>
  </div>
</div>
{{ footer }}
